/********************** general */

a {
    color: darkslategrey;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 60px;
    padding-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #efefef;
}

.footer a {
    color: #efefef;
}

/********************** colours */

.bg-header {
    background-color: #efefef;
}

.bg-footer {
    background-color: grey;
}

/********************** recipe */

.recipe .fa-heart {
    margin-top: 1rem;
}

.recipe .favs {
    font-size: 2rem;
}

.recipe-image {
    height: 160px;
    max-height: 160px;
    width: 160px;
    background-size: cover;
}

.recipe-image-overlay {
    height: 30px;
    max-height: 30px;
    width: 160px;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.recipe-image-overlay .author {
    color: #fafafa;
    margin-top: 3px;
}

.recipe .recipe-lists {
    padding: 0 1rem;
}

@media (min-width: 768px) {
    .recipe .recipe-lists {
        padding: 0 4rem;
    }
}

@media (min-width: 992px) {
    .recipe .recipe-lists {
        padding: 0 8rem;
    }
}

/********************** recipe cards */

.recipe-card {
    margin: 1rem;
    border: 0.5px solid #bbb;
}

.recipe-card .fa-heart {
    margin-top: 1rem;
}

.recipe-card .favs {
    font-size: 2rem;
}

.recipe-card-image {
    height: 100px;
    max-height: 100px;
    width: 100px;
    background-size: cover;
}

/********************** signup */

.signup .form-group {
    margin-bottom: 1.5rem;
}

/********************** dashboard */

.dashboard .card-icons {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 8px;
}

.dashboard .card-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: darkslategrey;
    color: #fafafa;
    border-radius: 50%;
}

.dashboard .card-icon i {
    margin-left: 13px;
    margin-top: 11px;
}

.dashboard .recipe-name {
    overflow: hidden;
    text-overflow: ellipsis;
}
