.form-group {
    margin-bottom: 1.5rem;
}

.recipe-card {
    margin: 1rem;
    border: 0.5px solid #bbb;
}

.recipe-card .fa-heart {
    margin-top: 1rem;
}

.recipe-card .favs {
    font-size: 2rem;
}

.recipe-card-image {
    height: 100px;
    max-height: 100px;
    width: 100px;
    background-size: cover;
}

.recipe-card a {
    color: #111111;
}


.filters .card-header,
.filters .card-body {
    padding: 0;
}

.filters .filter-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.filters .filter-item a {
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}