{% extends 'base.html' %} {% block content %}

<section class="edit">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h3 class="text-uppercase my-4">Update Recipe</h3>
        </div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <form action="{{url_for('edit', recipe_id=recipe._id, username=user.username)}}" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" value="{{recipe.name}}" name="name">
                </div>
                <div class="form-group">
                    <label for="image_url">Image URL</label>
                    <input type="text" class="form-control" id="image_url" value="{{recipe.image_url}}" name="image_url">
                </div>
                <div class="form-row">
                    <div class="col-2">
                        <i class="fas fa-clock"></i>
                    </div>
                    <div class="col col-sm-3 col-md-2">
                        <div class="form-group">
                            <label for="hours">Hours</label>
                            <select name="hours" class="form-control" id="hours">
                                {% for i in range(0,25) %}
                                <option {{ 'selected' if (recipe.time.hours == i) }}>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-2">
                        <div class="form-group">
                            <label for="minutes">Minutes</label>
                            <select name="minutes" class="form-control" id="minutes">
                                {% for i in range(0,60) %}
                                <option {{ 'selected' if (recipe.time.minutes == i) }}>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" id="description" rows="3">{{recipe.description}}</textarea>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="type">Type</label>
                            <select name="type" class="form-control" id="type">
                                <option {{ 'selected' if (recipe.type == 'starter') }}>Starter</option>
                                <option {{ 'selected' if (recipe.type == 'soup') }}>Soup</option>
                                <option {{ 'selected' if (recipe.type == 'salad') }}>Salad</option>
                                <option {{ 'selected' if (recipe.type == 'main course') }}>Main Course</option>
                                <option {{ 'selected' if (recipe.type == 'dessert') }}>Dessert</option>
                                <option {{ 'selected' if (recipe.type == 'cake') }}>Cake</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="cuisine">Cuisine</label>
                            <select name="cuisine" class="form-control" id="cuisine">
                                <option {{ 'selected' if (recipe.cuisine == 'indian') }}>Indian</option>
                                <option {{ 'selected' if (recipe.cuisine == 'chinese') }}>Chinese</option>
                                <option {{ 'selected' if (recipe.cuisine == 'italian') }}>Italian</option>
                                <option {{ 'selected' if (recipe.cuisine == 'french') }}>French</option>
                                <option {{ 'selected' if (recipe.cuisine == 'spanish') }}>Spanish</option>
                                <option {{ 'selected' if (recipe.cuisine == 'asian') }}>Asian</option>
                                <option {{ 'selected' if (recipe.cuisine == 'african') }}>African</option>
                                <option {{ 'selected' if (recipe.cuisine == 'british') }}>British</option>
                                <option {{ 'selected' if (recipe.cuisine == 'american') }}>American</option>
                                <option {{ 'selected' if (recipe.cuisine == 'irish') }}>Irish</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ingredients">Ingredients</label>
                    <textarea name="ingredients" class="form-control" id="ingredients" rows="{{recipe.ingredients|length}}">{% for item in recipe.ingredients %}{{"%s\n"|format(item)}}{% endfor %}</textarea>
                    <small class="form-text text-muted">Use a new line for each ingredient</small>
                </div>
                <div class="form-group">
                    <label for="method">Method</label>
                    <textarea name="method" class="form-control" id="method" rows="6">{% for item in recipe.method %}{{"%s\n"|format(item)}}{% endfor %}</textarea>
                    <small class="form-text text-muted">Use a new line for each step</small>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary">Update Recipe</button>
                </div>
            </form>
        </div>
    </div>


</section>

{% endblock %}