{% extends 'base.html' %} {% block content %}

<div class="recipe-cards">
    <div class="row no-gutters">
        {% for recipe in recipes %}
        <div class="col-12 col-sm-10 col-md-6 col-lg-4">
            <div class="recipe-card">
                <div class="row h-100 no-gutters">
                    <div class="col-2 text-center pl-2">
                        <span class="d-block favs">
                            {% if user_favs %}
                                {% if '%s'|format(recipe._id) in user_favs %}
                                <i class="fas fa-heart"></i>
                                {% else %}
                                <i class="far fa-heart"></i>
                                {% endif %}
                            {% else %}
                            <i class="far fa-heart"></i>
                            {% endif %}
                        </span>
                        {{recipe.favourites|int}}
                    </div>
                    <div class="col-4">
                        <div class="recipe-card-image mx-auto" style="background-image:url({{recipe.image_url}})">
                            <a class="d-block w-100 h-100" href="/recipe/{{recipe._id}}"></a>
                        </div>
                    </div>
                    <div class="col-6 px-2">
                        <a class="d-block mb-3" href="/recipe/{{recipe._id}}"><u>{{recipe.name}}</u></a>
                        <i class="fas fa-clock"></i>
                        <span>{{recipe.time.hours}} h {{recipe.time.minutes}} m</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<!-- <ul>
    {% for recipe in recipes %}
    <li>
        <div class="recipe-card">
            <h3>{{recipe.name}}</h3>
            <img src="{{recipe.image_url}}" alt="recipe image" width="200">
            <p>Id: {{recipe._id}}</p>
            <p>Time: {{recipe.time}}</p>
            <p>Author: {{recipe.author}}</p>
            <p>Description: {{recipe.description}}</p>
            <p>Ingredients: {{recipe.ingredients}}</p>
            <p>Method: {{recipe.method}}</p>
            <p>Date Added: {{recipe.date_added}}</p>
            <p>Favourites: {{recipe.favourites}}</p>
            <p>Cuisine: {{recipe.cuisine}}</p>
            <p>Type: {{recipe.type}}</p>
        </div>
    </li>
    {% endfor %}
</ul> -->

{% endblock %}