{% extends 'base.html' %} {% block content %}

<div class="filters">

    {% if user %}
    <form action="{{url_for('index', filter_type='all', filter_cuisine='all', username=user.username)}}" method="POST">
    {% else %}
    <form action="{{url_for('index')}}" method="POST">
    {% endif %}
        <div class="form-group">
            <label for="inputType">Dish Type</label>
            <select id="inputType" name="type" class="form-control">
                <option {{ 'selected' if (filters.type == 'all') }}>All</option>
                <option {{ 'selected' if (filters.type == 'starter') }}>Starter</option>
                <option {{ 'selected' if (filters.type == 'soup') }}>Soup</option>
                <option {{ 'selected' if (filters.type == 'salad') }}>Salad</option>
                <option {{ 'selected' if (filters.type == 'main course') }}>Main Course</option>
                <option {{ 'selected' if (filters.type == 'dessert') }}>Dessert</option>
                <option {{ 'selected' if (filters.type == 'cake') }}>Cake</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputCuisine">Cuisine</label>
            <select id="inputCuisine" name="cuisine" class="form-control">
                <option {{ 'selected' if (filters.cuisine == 'all') }}>All</option>
                <option {{ 'selected' if (filters.cuisine == 'indian') }}>Indian</option>
                <option {{ 'selected' if (filters.cuisine == 'chinese') }}>Chinese</option>
                <option {{ 'selected' if (filters.cuisine == 'italian') }}>Italian</option>
                <option {{ 'selected' if (filters.cuisine == 'french') }}>French</option>
                <option {{ 'selected' if (filters.cuisine == 'spanish') }}>Spanish</option>
                <option {{ 'selected' if (filters.cuisine == 'asian') }}>Asian</option>
                <option {{ 'selected' if (filters.cuisine == 'african') }}>African</option>
                <option {{ 'selected' if (filters.cuisine == 'british') }}>British</option>
                <option {{ 'selected' if (filters.cuisine == 'american') }}>American</option>
                <option {{ 'selected' if (filters.cuisine == 'irish') }}>Irish</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Apply Filters</button>
    </form>

</div>

<div class="recipe-cards">
    <div class="row no-gutters">
        {% for recipe in recipes %}
        <div class="col-12 col-sm-10 col-md-6 col-lg-4">
            <div class="recipe-card">
                <div class="row h-100 no-gutters">
                    <div class="col-2 text-center pl-2">
                        <span class="d-block favs">
                            {% if user %}
                            {% if '%s'|format(recipe._id) in user_favs %}
                            <a href="{{url_for('unfavourite', user_id=user._id, recipe_id=recipe._id, next=request.url)}}">
                                <i class="fas fa-heart"></i>
                            </a>
                            {% else %}
                            <a href="{{url_for('favourite', user_id=user._id, recipe_id=recipe._id, next=request.url)}}">
                                <i class="far fa-heart"></i>
                            </a>
                            {% endif %}
                            {% else %}
                            <a href="{{url_for('signup')}}">
                                <i class="far fa-heart"></i>
                            </a>
                            {% endif %}
                        </span>
                        {{recipe.favourites|int}}
                    </div>
                    <div class="col-4">
                        <div class="recipe-card-image mx-auto" style="background-image:url({{recipe.image_url}})">
                            {% if user %}
                                <a class="d-block w-100 h-100" href="/recipe/{{recipe._id}}/{{user.username}}"></a>
                            {% else %}
                            <a class="d-block w-100 h-100" href="/recipe/{{recipe._id}}"></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6 px-2">
                        {% if user %}
                        <a class="d-block mb-3" href="/recipe/{{recipe._id}}/{{user.username}}"><u>{{recipe.name}}</u></a>
                        {% else %}
                        <a class="d-block mb-3" href="/recipe/{{recipe._id}}"><u>{{recipe.name}}</u></a>
                        {% endif %}

                        <i class="fas fa-clock"></i>
                        <span>{{recipe.time.hours|int}} h {{recipe.time.minutes|int}} m</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}