{% extends 'base.html' %} {% block content %}

<section class="signup">
    <h3 class="mt-5 mb-3 text-center text-uppercase">Create an account</h3>

    <!-- Username error alert -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            {% if username_error %}
            <div class="alert alert-info mt-3" role="alert">
                {{username_error}}
            </div>
            {% endif%}
        </div>
    </div>

    <!-- Sign up form -->
    <div class="row pb-3 justify-content-center">
        <div class="col-10 col-sm-7 col-md-5 col-lg-4">
            <form action="{{url_for('signup')}}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" {% if
                        username %}value="{{username}}" {% endif %} required>
                    <small class="form-text text-muted">create a unique username</small>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10 col-sm-7 col-md-5 col-lg-4">
            <hr class="mt-3">
        </div>
    </div>

    <!-- Log in form -->
    <p class="my-3 text-center">Already have an account? <strong>Log in here!</strong></p>
    <div class="row justify-content-center">
        <div class="col-10 col-sm-7 col-md-5 col-lg-4">
            <form action="{{url_for('login')}}" method="POST">
                <div class="form-group">
                    <input class="form-control mr-sm-2" type="search" name="username" placeholder="username">
                </div>
                <button class="btn btn-outline-success my-2 mr-2 my-sm-0" type="submit" name="login">Log In</button>
            </form>
        </div>
    </div>

</section>
{% endblock %}